<section class="background-design">
    <div class="container d-flex justify-content-center align-items-center  h-100">
      <div class="row ">
        <div class="text-center">
          <img src="../../../../assets/images/logo.svg" alt="">
        </div>
  
        <form [formGroup]="ResetForm" (ngSubmit)="onSubmit(ResetForm)">
          <div class="col-md-12">
            <div class="auth-card ">
              <span class=" text-white ">Welcome to PMS</span>
              <h3>Login</h3>
              <div class="form-item">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput placeholder="Enter Your Email">
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
               
              </div>
              <div class="form-item">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>OTP</mat-label>
                  <input formControlName="seed" matInput placeholder="Enter Your OTP">
                  <mat-icon matSuffix>otp</mat-icon>
                </mat-form-field>
                
              </div>
              <div class="form-item">
                <mat-form-field class="w-100">
                  <mat-label>Password</mat-label>
                  <input formControlName="password" matInput [type]="hide ? 'password' : 'text'"
                    placeholder="Enter Your Password">
                  <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Confirm Password</mat-label>
                    <input formControlName="confirmPassword" matInput [type]="Confirmhide ? 'password' : 'text'"
                      placeholder="Enter Your Confirm Password">
                    <button type="button" mat-icon-button matSuffix (click)="Confirmhide = !Confirmhide"
                      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="Confirmhide">
                      <mat-icon>{{Confirmhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
              </div>
              
              <button type="submit"  class="main w-100 text-white" [disabled]="ResetForm.invalid">Save</button>
            </div>
  
          </div>
        </form>
      </div>
    </div>
  
  </section>
  