<section class="background-design">
  <div class="container d-flex justify-content-center align-items-center  h-100">
    <div class="row ">
      <div class="text-center">
        <img src="../../../../assets/images/logo.svg" alt="">
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
        <div class="col-md-12">
          <div class="auth-card ">
            <span class=" text-white ">Welcome to PMS</span>
            <h3>Login</h3>
            <div class="form-item">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Enter Your Email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="loginForm.invalid"
                  class="custom-error-style">{{getErrorMessageforEmail()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-item mt-3">
              <mat-form-field class="w-100">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'"
                  placeholder="Enter Your Password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.invalid"
                  class="custom-error-style">{{getErrorMessageforPasswrod()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="d-flex justify-content-between my-3">
              <a routerLink="/core/register" class=" text-decoration-none text-white myPointer">Register Now ?</a>
              <a class=" text-decoration-none text-white myPointer" (click)="openDialog()">Forgot Password ?</a>
            </div>
            <button type="submit" class="main w-100 text-white" [disabled]="loginForm.invalid">Login
              <span ><i class="fas text-white"></i></span>
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>

</section>
