@import "../../../../../../assets/styles/abstracts/colors";
@import "../../../../../../assets/styles/layout";
#edit-profile {
  width: 90%;
  margin: 0 auto;
  height: 80vh;
  img {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50% !important;
  }
}

form {
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px rgb(185, 184, 184);
  padding: 1rem;
  border-radius: 8px;
}

.label_custom-style {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: transparent;
  color: #818181;
  border: 2px dashed #a8a6a6;
}

a {
  text-decoration: none;
}
