<section class="d-flex justify-content-center align-items-center p-0 bg_main">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-11">

        <div mat-dialog-content class="">

          <form [formGroup]="forgotPasswordForm" class="">

            <div class="container">
              <span class=" text-white ">Welcome to PMS</span>
              <h3 class="my-3">Forgot Your Password?</h3>
              <div class="row ">
                <div class="col-md-12">
                  <div class="form-item">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Email</mat-label>
                      <input type="email" formControlName="email" matInput placeholder="Enter Your Email">
                      <mat-icon matSuffix>email</mat-icon>
                      <mat-error *ngIf="forgotPasswordForm.invalid"
                        class="custom-error-style">{{getErrorMessageforEmail()}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>

              </div>
            </div>
          </form>
          <div mat-dialog-actions class="d-flex justify-content-between mt-1">
            <button class="text-white w-25 border border-white" mat-button (click)="onNoClick()">Cancel</button>
            <button type="submit" class="main text-white w-25 " mat-button [mat-dialog-close]="forgotPasswordForm.value"
              cdkFocusInitial>Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
