$text-main: #ef9b28;
$text-second: #315951;
$bg-main: #ef9b28;
$bg-main: #ef9b28;
$bg-darkGreen: #0e3826;
$bg-second: #315951;
$main-color-opacity: rgba(49, 89, 81, 0.9);



.text-green{
    color: $bg-darkGreen;
}
