<section id="changePassword">
  <div class="auth-form py-5">
    <div class="text-center">
      <img src="../../../assets/images/logo.svg" alt="">
    </div>

    <form [formGroup]="changePassword" (ngSubmit)="handleForm(changePassword)" class="px-5">
      <h2>change Password</h2>
      <p>
        Welcome Back! Pleace enter your details
      </p>

      <div class="form-item mt-2">
        <div class="form-item input-group ">
          <span class="input-group-text px-3 py-3" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
          <div class="y-line my-auto"></div>
          <input [type]="password_type" class="form-control py-1  rounded-0 border-end-0" placeholder=" oldPassword"
            aria-label="oldPassword" aria-describedby="basic-addon1" formControlName="oldPassword">
          <span class="ayes_icon border border rounded px-3 py-3 rounded-start-0" id="basic-addon1" role="button"
            (click)="toggleSee()">
            <i class="fa-regular" [ngClass]="{'fa-eye': see, 'fa-eye-slash': !see}"></i>
          </span>
        </div>

        <div *ngIf="changePassword.get('oldPassword')?.errors && changePassword.get('oldPassword')?.touched"
          class="text-red m-0 mx-auto p-0 block alert alert-light text-center w-100 text-danger mb-4" role="alert">
          <span class="text-red p-0 block" *ngIf="changePassword.get('oldPassword')?.getError('required')">oldPassword
            is
            Required</span><br>
          <span class="text-red p-0 block" *ngIf="changePassword.get('oldPassword')?.getError('minlength')">Min length
            8</span><br>
          <span class="text-red p-0 block" *ngIf="changePassword.get('oldPassword')?.getError('pattern')">must have at
            least
            1
            uppercase
            letter <br> at least 1 lowercase letter <br> at least 1 digit <br> at least 1 special character</span><br>
          <span class="text-red p-0 block" *ngIf="changePassword.get('oldPassword')?.getError('maxlength')">Max length
            20</span>
        </div>
      </div>

      <div class="form-item mt-2">
        <div class="form-item input-group ">
          <span class="input-group-text px-3 py-3" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
          <div class="y-line my-auto"></div>
          <input [type]="password_type_2" class="form-control py-1  rounded-0 border-end-0" placeholder=" newPassword"
            aria-label="newPassword" aria-describedby="basic-addon1" formControlName="newPassword">
          <span class="ayes_icon border border rounded px-3 py-3 rounded-start-0" id="basic-addon1" role="button"
            (click)="toggleSee_2()">
            <i class="fa-regular" [ngClass]="{'fa-eye': see_2, 'fa-eye-slash': !see_2}"></i>
          </span>
        </div>

        <div *ngIf="changePassword.get('newPassword')?.errors && changePassword.get('newPassword')?.touched"
          class="text-red m-0 mx-auto p-0 block alert alert-light text-center w-100 text-danger mb-4" role="alert">
          <span class="text-red p-0 block" *ngIf="changePassword.get('newPassword')?.getError('required')">newPassword
            is
            Required</span><br>
          <span class="text-red p-0 block" *ngIf="changePassword.get('newPassword')?.getError('minlength')">Min length
            8</span><br>
          <span class="text-red p-0 block" *ngIf="changePassword.get('newPassword')?.getError('pattern')">must have at
            least
            1
            uppercase
            letter <br> at least 1 lowercase letter <br> at least 1 digit <br> at least 1 special character</span><br>
          <span class="text-red p-0 block" *ngIf="changePassword.get('newPassword')?.getError('maxlength')">Max length
            20</span>
        </div>
      </div>


      <div class="form-item mt-2">
        <div class="form-item input-group ">
          <span class="input-group-text px-3 py-3" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
          <div class="y-line my-auto"></div>
          <input [type]="password_type_3" class="form-control py-1  rounded-0 border-end-0"
            placeholder=" confirmNewPassword" aria-label="confirmNewPassword" aria-describedby="basic-addon1"
            formControlName="confirmNewPassword">
          <span class="ayes_icon border rounded px-3 py-3 rounded-start-0" id="basic-addon1" role="button"
            (click)="toggleSee_3()">
            <i class="fa-regular" [ngClass]="{'fa-eye': see_3, 'fa-eye-slash': !see_3}"></i>
          </span>
        </div>

        <div
          *ngIf="changePassword.get('confirmNewPassword')?.errors && changePassword.get('confirmNewPassword')?.touched"
          class="text-red m-0 mx-auto p-0 block alert alert-light text-center w-100 text-danger mb-4" role="alert">
          <span class="text-red p-0 block"
            *ngIf="changePassword.get('confirmNewPassword')?.getError('required')">confirmNewPassword
            is
            Required</span><br>
          <span class="text-red p-0 block" *ngIf="changePassword.get('confirmNewPassword')?.getError('minlength')">Min
            length
            8</span><br>
          <span class="text-red p-0 block" *ngIf="changePassword.get('confirmNewPassword')?.getError('pattern')">must
            have at
            least
            1
            uppercase
            letter <br> at least 1 lowercase letter <br> at least 1 digit <br> at least 1 special character</span><br>
          <span class="text-red p-0 block" *ngIf="changePassword.get('confirmNewPassword')?.getError('maxlength')">Max
            length
            20</span>
        </div>
      </div>

      <button type="submit" class="mainPass w-100 mt-3 " [disabled]="changePassword.invalid"> change Password</button>
    </form>
  </div>
</section>
