button{
  border: none;
  border-radius: 96px;
  padding: .7rem 0px;
  text-align: center;
  font-size: 20px;
  transition: all .5s;
  &.mainPass{
      background-color: #ef9b28;
      &:hover{
          opacity: 0.6;
      }
  }
  &:disabled {
    background-color: rgba(#ef9b28, 0.5);
    color: rgba(0,0, 0) ;
    cursor: not-allowed;


  &:hover {
    opacity: 0.6;
  }
}


}
