<section>
  <div class="title-page shadow px-5">
    <div>
      <a class="text-decoration-none text-dark" routerLink="/core/dashboard/manager/projects"><span><span><i
              class="fa-solid fa-angle-left"></i></span>View All Projects</span></a>
      <h2 *ngIf="viewUserId">
        Edit Project
      </h2>
      <h2 *ngIf="!viewUserId">
        Add New Project
      </h2>
    </div>

  </div>

  <div class="card-form w-75 mx-auto my-3 shadow-sm">

    <form [formGroup]="projectForm" (ngSubmit)="onSubmit(projectForm)">
      <div class="form-item">
        <div class="mb-3">
          <label id="title" for="exampleFormControlInput1" class="form-label">Title</label>
          <input type="text" formControlName="title" class="form-control rounded-4" id="exampleFormControlInput1"
            placeholder="name">
        </div>
        <div *ngIf="projectForm.get('title')?.errors && projectForm.get('title')?.touched"
          class="text-red m-0 mx-auto p-0  alert alert-light text-center w-50 text-danger mb-4" role="alert">
          <span class="text-red" *ngIf="projectForm.get('title')?.getError('required')">title is Required</span>
        </div>
      </div>
      <div class="form-item">

        <div class="mb-3">
          <label for="exampleFormControlInput2" class="form-label">Description</label>
          <textarea type="text" formControlName="description" class="form-control rounded-4"
            id="exampleFormControlInput2" placeholder="Description"></textarea>
        </div>
        <div *ngIf="projectForm.get('description')?.errors && projectForm.get('description')?.touched"
          class="text-red m-0 mx-auto p-0  alert alert-light text-center w-50 text-danger mb-4" role="alert">
          <span class="text-red" *ngIf="projectForm.get('description')?.getError('required')">description is
            Required</span>

        </div>
      </div>
      <hr class="mt-5">
      <div class="d-flex justify-content-between">
        <button class="main-outline w-25" routerLink="/core/dashboard/manager/projects" type="button">Cancel</button>
        <button class="main w-25" [disabled]="projectForm.invalid">Save</button>
      </div>
    </form>

  </div>






</section>
